reports/
csrc/
simv
simv.daidir/
DVEfiles/
AN.DB/
novas.conf
novas.rc
verdiLog/
ucli.key
vc_hdrs.h
tr_db.log
spyglass.log
.fsm.sch.verilog.xml

*.log
*.vpd
*.vcd
*.fsdb
*.wlf
*.vstf
*.ucdb
transcript
